{% extends 'base.html' %}
{% load i18n %}

{% load static %}

{% block content %}

<div class="level top">
    <div class="widther content left">
        <div class="span12 gate">
            <h1 class="bt1">Письмо с инструкциями по восстановлению пароля отправлено</h1>
            <p>Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если в нашей базе данных есть такой адрес).</p>   
            <p>Вы должны получить ее в ближайшее время.
            <p>Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и проверьте папку со спамом.</p>
        </div>

    </div>
</div>

{% endblock %}
