{% extends 'base.html' %}

{% block content %}

<div class="level">
    <div class="widther content">
        <div class="span4 gate">
            <h1 class="bt1">{{ title }}</h1>
            <form action="{% url 'lgn' %}?next={{ next }}" method="POST">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.username.errors }}
                <div class="span12 wrap">{{ form.username }}</div>
                {{ form.password.errors }}
                <div class="span12 wrap">{{ form.password }}</div>
                <div class="span12 wrap center">
                    <div class="span12 butt"><button type="submit" class="btn">Войти</button></div>
                    <div class="span12 link"><a href="{% url 'regi' %}">Зарегистрировать нового пользователя</a></div>
                    <div class="span12 link"><a href="{% url 'rese' %}">Забыли пароль?</a></div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}