{% extends 'base.html' %}
{% load static %}
{% load site_tags %}

{% block content %}

<div class="level top">
    <div class="widther content top">

        <div class="span9 body group gr">

            <h1 class="bt1">{{ title }}</h1>

            {% if data %}
                {% for d in data %}
                    <div class="row left">
                        <div class="span1 qrco"><img src="{% qrco d %}" alt="" class="img"></div>
                        <div class="span3 name">{{ d.user.last_name }} {{ d.user.first_name }} {{ d.user.patr_name }}</div>
                        <div class="span4 perm">
                            {% for g in d.user.groups.all %}
                                <span class="mygroup">{{ g }}</span>
                            {% endfor %}
                        </div>
                        <div class="span3 leve">Доступ: {{ d.stat }}</div>
                        <div class="span1 tool"><a href="{% url 'stat_upda' d.pk %}">Изменить</a></div>
                    </div>
                {% endfor %}
            {% else %}
                no data
            {% endif %}

        </div>

        <div class="span3 aside">{% include 'app_site/pers/pers_menu.html' %}</div>

    </div>
</div>

{% endblock %}

